[submodule "hugo/themes/techdoc"]
	path = hugo/themes/techdoc
	url = https://github.com/thingsym/hugo-theme-techdoc
[submodule "hugo/content/externalContent/micronets.wiki"]
	path = hugo/content/externalContent/micronets.wiki
	url = https://github.com/cablelabs/micronets.wiki.git
